<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="directive/dropdown/style.css">

    <script  src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script  src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script  src="directive/dropdown/index.js"></script>

    <script src="main.js"></script>

</head>
<body>
<div ng-app="myapp" ng-controller="MainCtrl" class="container">
    <h1>Test</h1>


    <hr>
    <dropdown-smpl list="ddl1" placeholder="Select Car" selected="sel1" ></dropdown-smpl>

    <p>Selected Obj</p>
    <textarea>{{sel1}}</textarea>
    <hr>
    <dropdown-adv list="ddl2" placeholder="Select Driver/Car" selected="sel2" ></dropdown-adv>

    <p>Selected Obj</p>
    <textarea>{{sel2}}</textarea>
    <hr>
</div>
</body>

</html>